<!DOCTYPE html>

<html>
   <head>
    <style>
      body {
          background-image: url('https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg');
       }

    </style>
   </head>

  <h1>To Do List</h1>

  <h5>User: </h5>
  <p>{{user}}</p>


  <table>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Description</th>
      
    </tr>
    
    {% for data in task %}
    {% if request.user == data.user %}
    <tr>
        <th>{{data.date}}</th>
        <th>{{data.title}}</th>
        <th>{{data.description}}</th>
    </tr>
    {% endif %}
{% endfor %}

  </table>
  <h5>Sesi terakhir login: {{ last_login }}</h5>
  <button><a href="{% url 'todolist:show_createtask' %}">Tambah Task Baru</a></button>
  <button><a href="{% url 'todolist:logout' %}">Logout</a></button>

</html>